
<br>
<div class="container">
<h3>Employee Details</h3>
<br>
<div class="box">
<div >
    <table  class="table table-striped  border-dark  ">
      <thead class="table-dark">
        <tr>
          <th>Attribute</th>
          <th>Value</th>
        </tr>
      </thead>
    <tbody>
    <tr>
          <td><b>Id</b></td>
          <td>{{employee.employeeNumber}}</td>
        </tr>
        <tr>
          <td><b>First Name</b></td>
          <td>{{employee.firstName}}</td>
        </tr>
        <tr>
          <td><b>Middle Name</b></td>
          <td>{{employee.middleName}}</td>
        </tr>
        <tr>
          <td><b>Last Name</b></td>
          <td>{{employee.lastName}}</td>
        </tr>
        <tr>
          <td><b>Department</b></td>
          <td>{{employee.department}}</td>
        </tr>
    </tbody>
    </table>
      <a routerLink="/updating-by-employeeNumber/{{employee.employeeNumber}}" id="btn1"class="btn btn-secondary">Update Details</a>
      <a routerLink="/show-all-employees" id="btn2" class="btn btn-danger">Back</a>
</div>
</div>
</div>
