<nav class="navbar navbar-expand-sm border-bottom border-body" data-bs-theme="dark">
  <ul class="navbar-nav">
      <li class="nav-item">
          <a routerLink="home" routerLinkActive="active" class="nav-link">Home</a>
      </li>
      <li class="nav-item">
          <a routerLink="show-all-employees" routerLinkActive="active" class="nav-link">Employee List</a>
      </li>
      <li class="nav-item">
        <a routerLink="show-all-tickets" routerLinkActive="active" class="nav-link">Ticket List</a>
      </li>
      <li class="nav-item">
        <a routerLink="add-watcher" routerLinkActive="active" class="nav-link">Add Ticket Watcher</a>
      </li>
  </ul>
  <ul class="navbar-nav ms-auto">
      <li class="nav-item" style="margin-right: 4rem;">
          <a routerLink="login" routerLinkActive="active" class="nav-link">Logout</a>
      </li>
  </ul>


</nav>

<router-outlet></router-outlet>

<footer class = "footer">
  <div class = "container">
      <span>Web Help Desk System</span>
  </div>
</footer>
