
<body>
<section id="skills" class="section-2 odd highlights image-right counter skills featured">
  <br><br>
      <div class="divMain container">
          <div class="container c1 text">
              <h1 class="text"> Techhnology Stack Used:</h1>
              <br>
              <ul class="category" id="t1">
                  <li>Backend Techhnology
                    <ul class="subcategory">
                      <li>Java</li>
                      <li>Spring Boot</li>
                    </ul>
                  </li>
                  <li>Frontend Techhnology
                    <ul class="subcategory">
                      <li>Angular</li>
                    </ul>
                  </li>
                  <li>Database Techhnology
                    <ul class="subcategory">
                      <li>H2 Console</li>
                    </ul>
                  </li>
                </ul>
          </div>
          <div class=" image">
              <!-- <img src="../assets/about-5.webp" class="fit-image" alt="Fit Image"> -->
          </div>
      </div>
      <br><br>
</section>
</body>
