<body>
  <section id="skills">
    <br>
        <div class="container">
            <div class="container">
                <h1> Technology Stack Used:</h1>
                <ul>
                    <li>Backend
                      <ul class="subcategory">
                        <li>Java</li>
                        <li>Spring Boot</li>
                      </ul>
                    </li>
                    <br>
                    <li>Frontend
                      <ul class="subcategory">
                        <li>Angular</li>
                      </ul>
                    </li>
                    <br>
                    <li>Database
                      <ul class="subcategory">
                        <li>H2 Console</li>
                      </ul>
                    </li>
                </ul>
            </div>
        </div>
  </section>
</body>
