<body>
  <section id="skills" class="section-2 odd highlights image-right counter skills featured">
    <br>
        <div class="divMain container">
            <div class="container c1 text">
                <h1 class="text"> Technology Stack Used:</h1>
                <ul class="category" id="t1">
                    <li>Backend
                      <ul class="subcategory">
                        <li>Java</li>
                        <li>Spring Boot</li>
                      </ul>
                    </li>
                    <br>
                    <li>Frontend
                      <ul class="subcategory">
                        <li>Angular</li>
                      </ul>
                    </li>
                    <br>
                    <li>Database
                      <ul class="subcategory">
                        <li>H2 Console</li>
                      </ul>
                    </li>
                </ul>
            </div>
        </div>
  </section>
</body>
